<div class="fixed top-0 left-0 flex-col w-full p-2 text-white m-auto h-100vh">
    <div class="flex justify-start shadow-xl p-3 items-center w-full gap-2 top-0 sticky text-xl text-white ">
        <a routerLink="/posts"> <i class="bi bi-arrow-left-circle text-2xl font-bold"></i></a>
        <h2 class="font-bold" >Direct Messages</h2>
    </div>

    <div class="h-screen w-100vw">
       <app-conversations/>
    </div>

    <div class="write flex w-full fixed p-5 gap-3 h-20 shadow bottom-0">
        <div class="flex flex-1">
            <input class="border w-full p-2 rounded-lg" type="text">
        </div>
        <div class="right-5 mx-3 flex">
            <button class=" "><i class="bi bi-telegram text-3xl font-bold"></i></button>
        </div>
    </div>
</div>