<div class="flex-col w-full p-2 text-white m-auto h-screen">
    <div class="flex justify-start shadow-xl p-3 items-center w-full gap-2 top-0 sticky text-xl text-white ">
        <a routerLink="/posts"> <i class="bi bi-arrow-left-circle text-2xl font-bold"></i></a>
        <h2 class="font-bold" >Direct Messages</h2>
    </div>

    <div class="chat h-screen w-auto justify-center items-center flex">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus pariatur deserunt odit? Porro consequuntur, totam fuga minus asperiores laborum eius doloremque consectetur molestias exercitationem doloribus dolorem sapiente earum atque. Soluta?
       Repellat maiores consectetur, minima aspernatur quibusdam enim, autem numquam, reiciendis provident itaque assumenda commodi reprehenderit! Ratione inventore aspernatur excepturi harum placeat autem accusantium optio odio id ea ab, libero fuga!
       Iste inventore exercitationem id provident vel, voluptates adipisci, harum, omnis porro autem dolores enim. Nobis, dicta hic, eos consequuntur quidem sed, culpa at et optio distinctio aspernatur voluptatem officia deleniti.
       Eos nostrum dolore a magnam labore inventore adipisci non, maiores, praesentium ullam quam quas sit corporis veniam optio quia fuga rerum necessitatibus provident nobis itaque saepe asperiores maxime nulla. Voluptatem.
       Perferendis, vel. Culpa nostrum velit quos nisi quibusdam, totam vero necessitatibus tenetur ut vitae voluptas delectus optio, nihil reprehenderit dolore amet dolores quis sequi soluta dicta esse at non vel.
       Quo corrupti omnis vitae placeat laborum voluptatibus, a fugit eum consequuntur aperiam vel praesentium animi. Cumque magni maiores optio aliquam suscipit? Debitis atque repellat illum quas? Voluptatum cupiditate nemo voluptatibus.
       Mollitia quas sed recusandae saepe praesentium, ullam odio nam consequatur alias consectetur quo rerum itaque vero ipsam magni blanditiis eos enim suscipit deserunt officia maiores tempora animi. Dolor, pariatur magnam.
       Possimus eligendi dicta deleniti iusto quidem, odit quas sit eum reiciendis qui. Tenetur eligendi culpa excepturi ducimus omnis quasi architecto in ex? Assumenda officia accusantium velit ad maxime commodi nostrum.
       Voluptas nulla soluta, sequi nobis amet tempore fugit accusamus, qui modi maiores delectus omnis? Voluptate ad blanditiis nisi, earum atque praesentium temporibus rem placeat delectus quod ducimus est molestias suscipit?
       Iste, officia cupiditate. Et eaque iste facilis laudantium ducimus nobis veniam? Possimus et accusantium illum earum hic minima ipsa impedit quas suscipit recusandae, tempora ab temporibus excepturi in officiis molestiae?
    </div>

    <div class="write flex w-full fixed p-5 gap-3 h-20 shadow bottom-0">
        <div class="flex flex-1">
            <input class="border w-full p-2 rounded-lg" type="text">
        </div>
        <div class="right-5 mx-3 flex">
            <button class=" "><i class="bi bi-telegram text-3xl font-bold"></i></button>
        </div>
    </div>
</div>