<div class="flex-col w-full p-2 text-white m-auto h-screen">
    <div class="flex justify-start shadow-xl p-3 items-center gap-2 text-xl text-white m-3">
        <a routerLink="/posts"> <i class="bi bi-arrow-left-circle font-bold ml-3"></i></a>
        <p class="text-center font-thin flex-1">Direct message</p>
    </div>

    <div class="chat h-screen w-auto justify-center items-center flex">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nemo neque vero sed numquam quas magni veniam
        consectetur. Aperiam enim perferendis non obcaecati assumenda, consequuntur repellat fugiat magnam sit debitis.
        Ullam unde, ipsam autem voluptates illo at, repellat obcaecati facere laboriosam perspiciatis expedita ipsa
        dignissimos commodi accusantium recusandae laborum dolorum modi tempore quod molestiae non nam? Velit placeat
        ipsa dignissimos.
    </div>

    <div class="write flex w-full absolute p-5 gap-3 h-20 shadow bottom-0">
        <div class="flex flex-1">
            <input class="border w-full p-2 rounded-lg" type="text">
        </div>
        <div class="right-5 mx-3 flex">
            <button class=" "><i class="bi bi-telegram text-3xl font-bold"></i></button>
        </div>
    </div>
</div>