<div class="h-screen w-full m-auto flex flex-col text-white text-2xl p-5 justify-center items-center">

    <h2 class="text-center mb-10 text-5xl font-light text-white">Signup</h2>

    <div class="flex p-1 flex-col justify-center w-full items-center shadow-2xl text-white">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <label>Full Name:
                <div class="border border-stone-700 p-2 w-full">
                    <input formControlName="fullname" />
                </div>
            </label>

            <label>Username:
                <div class="border border-stone-700 p-2 w-full">
                    <input formControlName="username" />
                </div>
            </label>

            <label>Email:
                <div class="border border-stone-700 p-2 w-full">
                    <input formControlName="email" />
                </div>
            </label>

            <label>Password:
                <div class="border border-stone-700 p-2 w-full">
                    <input type="password" formControlName="password" />
                </div>
            </label>

            <label>Confirm Password:
                <div class="border border-stone-700 p-2 w-full">
                    <input type="password" formControlName="confirmPassword" />
                </div>
            </label>

            <div class="flex justify-center items-center mt-5">
                <button class="rounded-full border  border-stone-700 p-2 w-full m-3" type="submit"
                    [disabled]="signupForm.invalid">Signup</button>

            </div>
        </form>

        <div *ngIf="message">{{ message }}</div>

    </div>

</div>