<div *ngFor="let item of postsWithProfiles" class="shadow p-0 bottom-20 h-auto">
  <div class="flex items-center rounded-full mt-5 ml-2">
    <img class="rounded-full h-8 w-8" [src]="item.profile.image" alt="user profile" />
    <h1 class="text-white text-m m-2 font-thin">{{ item.profile.name }}</h1>
  </div>

  <div class="h-fit w-full justify-center items-center mt-2">
    <img [src]="item.post.image" alt="user post" />
  </div>

  <div class="flex flex-row items-center gap-2 pt-2 pb-2 ml-2">
    <p class="text-white text-lg font-bold">{{ item.profile.name }}</p>
    <p class="text-white">{{ item.post.title }}</p>
  </div>

  <div class="flex gap-4 justify-center  text-white ml-2">
    <button class="border border-blue-500 flex-1 rounded-full p-2 w-40">
      <i class="bi bi-hand-thumbs-up text-center justify-center items-center flex-row text-white text-2xl"></i>
       {{ item.likes?.count || 0 }} Likes
    </button>
    <button class="border border-blue-500 flex-1 rounded-full p-2 w-40">
      <i class="bi bi-chat-fill text-white text-2xl"></i>
       {{ item.comments?.length || 0 }} Comments
    </button>
  </div>
</div>
