

<div class="h-screen w-auto m-auto flex flex-col text-white text-2xl p-5 justify-center items-center">
    <div class="flex justify-center mb-10 shadow p-5 font-thin text-center text-5xl text-white">
        <h2>Login</h2>
    </div>
    <div class=" w-full p-5 shadow-2xl">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="">
        <label>Username:
            <div class="m-3">
                <input class="border border-stone-700 p-2 rounded w-full" placeholder="username" formControlName="username" />
            </div>
        </label>
        <label>Password:
            <div class="m-3">
                <input class="border border-stone-700 rounded p-2 w-full" placeholder="password" type="password" formControlName="password" />

            </div>
        </label>
        <div>
            <button class="rounded-full border hover:bg-blue-900 hover:border-none border-stone-700 p-2 w-full my-4" type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
    </form>
</div>
    <div *ngIf="message">{{ message }}</div>
</div>