<!-- Posts available -->
<div *ngIf="postsWithProfiles.length > 0">
  <app-post-card [postsWithProfiles]="postsWithProfiles"></app-post-card>
</div>

<!-- No posts available -->
<div *ngIf="postsWithProfiles.length === 0" class="text-center mt-10 text-white text-lg h-[100vh] flex flex-col gap-5 items-center justify-center">
  Your feed is quiet 😶 <br> Follow some users to see their posts here!
  
  <button class="border p-3 rounded-full w-40 h-10 flex justify-center items-center hover:bg-white hover:text-[#21313e]">
    <a routerLink="/suggestedPosts">Discover Users</a>
  </button>
</div>