<div class="m-5 flex justify-center items-center flex-row overflow-x-auto">
    <div class="h-auto w-20 rounded-full ml-5">
        <img class="rounded-full"
            src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
            alt="user profile">
        <div class=" mt-[-1.5rem] ml-[3rem] z-22">
            <button><i class="bi bi-plus-circle-fill text-white text-2xl "></i></button>
        </div>
    </div>
    
    <div class="h-auto w-20 rounded-full ml-5">
        <img class="rounded-full"
            src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
            alt="user profile">
    </div>
    
    <div class="h-auto w-20 rounded-full ml-5">
        <img class="rounded-full"
            src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
            alt="user profile">
    </div>
    
    <div class="h-auto w-20 rounded-full ml-5">
        <img class="rounded-full"
            src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
            alt="user profile">
    </div>
    
    </div>