<!-- Story Updates List -->
<div class="p-3 flex justify-center items-center bg-gray-800  flex-row">
  <div class="h-auto w-20 rounded-full">
    <img class="rounded-full h-15 w-15"
      src="https://images.pexels.com/photos/11238858/pexels-photo-11238858.png?auto=compress&cs=tinysrgb&w=1200&lazy=load"
      alt="user profile">
    <div class="mt-[-1.5rem] ml-[3rem] z-22">
      <button (click)="createStory()"><i class="bi bi-plus-circle-fill bg-transparent text-white text-2xl"></i></button>
    </div>
  </div>

  <div class="userStories flex w-full gap-1 overflow-x-auto">
    <div *ngFor="let story of stories" class="h-auto flex-none w-20 rounded-full ml-3 hover:animate-pulse">
      <a [routerLink]="['/viewStory', story.id]">
        <img class="rounded-full h-15 w-15"
          [src]="story.image"
          alt="user story">
      </a>
    </div>
  </div>
</div>

<!-- Overlay -->
<div *ngIf="showOverlay" class=" bg-gray-800 text-white fixed inset-0 z-50 flex items-center justify-center p-4">
    <div class=" w-full  rounded-lg shadow-lg p-6">
      <div class="text-center mb-6">
        <h2 class="text-2xl font-bold">{{ overlayContent }}</h2>
      </div>
      <form (ngSubmit)="onSubmit()" #overlayForm="ngForm" class="space-y-4 ">
        <div *ngIf="!isStory" class="form-group">
          <label for="caption" class="block font-medium mb-1">Caption</label>
          <textarea id="caption" name="caption" [(ngModel)]="formData.caption" required class="w-full border rounded  p-2"></textarea>
        </div>
        <div class="form-group">
          <label for="image" class="block font-medium mb-1">Upload Image</label>
          <input type="file" id="image" name="image" (change)="onFileSelected($event)" class="w-full" />
        </div>
        <div *ngIf="selectedImageUrl" class="image-preview">
          <img [src]="selectedImageUrl" alt="Selected Image" class="w-full max-h-64 object-cover rounded" />
        </div>
        <div class="flex justify-center gap-2 flex-1 rounded-full mt-4">
          <button type="submit" [disabled]="!overlayForm.valid" class=" text-white border border-white w-full px-4 py-2 rounded-full hover:animate-pulse disabled:opacity-50">
            Submit
          </button>
          <button type="button" (click)="closeOverlay()" class=" text-white border border-white px-4 w-full py-2 rounded-full hover:animate-pulse">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>