
<!-- <app-following-post /> -->
  <router-outlet/>

<div *ngIf="showCreateOverlay" class="fixed top-0  w-screen h-screen bg-gray-800 bg-opacity-50 flex justify-center items-center z-[1000]">
  <div class="flex flex-col p-5 rounded-lg shadow-lg w-screen max-w-4xl relative">
    <div class="flex justify-between items-start">
      <app-create-posts></app-create-posts>
      <button class="w-8 h-8 bg-transparent border-none" (click)="closeCreateOverlay()">
        <svg viewBox="0 0 24 24" class="w-4 h-4" fill="white" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.3,18.7C5.5,18.9,5.7,19,6,19s0.5-0.1,0.7-0.3l5.3-5.3l5.3,5.3c0.2,0.2,0.5,0.3,0.7,0.3
              s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L13.4,12l5.3-5.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L12,10.6
              L6.7,5.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l5.3,5.3l-5.3,5.3C4.9,17.7,4.9,18.3,5.3,18.7z"/>
        </svg>
      </button>
    </div>
  </div>
</div>


