<h1 class="text-3xl font-bold underline">
  mawandemsomi
</h1>
<router-outlet />

<div class="mt-8">
     <img class="size-48 shadow-xl rounded-md" alt="" src="/images/anime.png.PNG" class="w-24 h-24 rounded-full  border-2 border-black-300 shadow-md object-fill"  /> 

      <div class="flex justify-center space-x-4 mt-.5">
    <div>
      <p class="font-bold">8</p>
      <p>Posts</p>
    </div>
    <div>
      <p class="font-bold">1566</p>
      <p>Followers</p>
    </div>
    <div>
      <p class="font-bold">898</p>
      <p>Following</p>
    </div>
</div>

<div class="btn-container">
  <button class=>Edit profile</button>   <button>Share profile</button>
</div>

