<div class="justify-self-center text-white" *ngIf="user">
  <h2 class="text-center fixed top-0 right-0 left-0 p-2 border-b ">{{user.fullname}}</h2>
  <div class="mt-10 flex gap-10">
    <div class="relative">
      <img [src]="url" class="w-15 h-15 border rounded-full "/>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill absolute bottom-0 right-0 size-5" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
    </div>
    

    <div class="flex gap-10">
      
      <div>
        <p>0</p>
        <p>Posts</p>
      </div>
      <div>
        <p>0</p>
        <p>Followers</p>
      </div>
      <div>
        <p>0</p>
        <p>Following</p>
      </div>
    </div>
  </div>
</div>
