<div class="bottomNav flex h-auto p-1 border-t-blue-500 absolute  text-2xl w-full flex-1 gap-2 sticky-bottom mb-10 flex-row bottom-0">

    <button class=" shadow-xl routerLink='/' rounded-full p-2 w-40 text-white "><i class="bi font-bold bi-house"></i>  </button>
    <button class=" shadow-xl rounded-full p-2 w-40 text-white"><i class="bi bi-plus-square-fill"></i> </button>
    <button routerLink="/userProfile" class="shadow-xl rounded-full p-2 w-40 text-white" ><i class="bi bi-person"></i></button>
</div>