<div class="bottomNav flex p-3 fixed text-2xl w-full flex-1 gap-2 flex-row bottom-0 ">

    <button routerLink="/posts" class=" shadow-xl  rounded-full p-2 w-40 text-white "><i class="bi font-bold bi-house"></i>  </button>
    <button routerLink="/chat" class=" shadow-xl  rounded-full p-2 w-40 text-white "><i class="bi bi-chat-quote"></i>  </button>
    <button class=" shadow-xl rounded-full p-2 w-40 text-white" (click)="openOverlay()"><i class="bi bi-plus-square-fill"></i> </button>
    <button routerLink="/userProfile" class="shadow-xl rounded-full p-2 w-40 text-white" ><i class="bi bi-person"></i></button>
</div>