<div class="mt-5 h-full flex flex-col justify-self-center items-center">
  <div class=" border w-full flex justify-center items-center p-2 sticky top-10 bg-white/30 backdrop-blur-md">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap size-8" viewBox="0 0 16 16">
      <path d="M4 2v2H2V2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1M9 2v2H7V2zm5 0v2h-2V2zM4 7v2H2V7zm5 0v2H7V7zm5 0h-2v2h2zM4 12v2H2v-2zm5 0v2H7v-2zm5 0v2h-2v-2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1z"/>
    </svg>
  </div>
  <div class="border h-full flex flex-col items-center justify-self-center ">
    <div class="shadow p-5">
      <div class="h-auto flex w-20 rounded-full mt-5 ml-5">
          <img class="rounded-full w-15 h-15 "
              src="https://images.pexels.com/photos/718978/pexels-photo-718978.jpeg?auto=compress&cs=tinysrgb&w=800"
              alt="user profile">
      
              <h1 class="text-white text-xl m-2 font-thin">Bongeka Mdluli</h1>
      </div>
      
      <div class="h-auto mt-5 m-5">
          <img 
              src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&cs=tinysrgb&w=1200"
              alt="user profile">
      </div>
      
      <div class="flex gap-4 justify-center text-white">
      <button class="border border-blue-500 rounded-full p-2 w-40 "><i class="bi bi-hand-thumbs-up text-white text-2xl "></i> Likes</button>
      <button class="border border-blue-500 rounded-full p-2 w-40 "><i class="bi bi-chat-fill text-white text-2xl "></i> Comments</button>
      </div>
      
      </div>
    <div class="shadow p-5">
      <div class="h-auto flex w-20 rounded-full mt-5 ml-5">
          <img class="rounded-full w-15 h-15 "
              src="https://images.pexels.com/photos/718978/pexels-photo-718978.jpeg?auto=compress&cs=tinysrgb&w=800"
              alt="user profile">
      
              <h1 class="text-white text-xl m-2 font-thin">Bongeka Mdluli</h1>
      </div>
      
      <div class="h-auto mt-5 m-5">
          <img 
              src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
              alt="user profile">
      </div>
      
      <div class="flex gap-4 justify-center text-white">
      <button class="border border-blue-500 rounded-full p-2 w-40 "><i class="bi bi-hand-thumbs-up text-white text-2xl "></i> Likes</button>
      <button class="border border-blue-500 rounded-full p-2 w-40 "><i class="bi bi-chat-fill text-white text-2xl "></i> Comments</button>
      </div>
      
      </div>
    
  </div>
</div>
