<div class="flex-col m-auto h-screen">
    <div class="flex justify-start items-center gap-2 text-xl text-white m-3">
       <a routerLink="/posts" > <i class="bi bi-arrow-left-circle font-bold ml-3"></i></a>
        <p class="text-center font-thin flex-1">view-story works!</p>
    </div>

    <div class="story">

        <img src="https://images.pexels.com/photos/31816538/pexels-photo-31816538/free-photo-of-two-women-embracing-on-pebble-beach-at-night.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
            alt="story image">
    </div>
</div>