<div class="items-center justify-center m-auto gap-5 flex flex-col h-screen">
  <div class="mt-5 flex gap-5 justify-self-center animate-[bounce_1s_ease-in-out] [animation-iteration-count:2]">
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
      class="bi bi-chat-right-heart-fill text-white" viewBox="0 0 16 16">
      <path
        d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
    </svg>
  </div>
  <div class="justify-self-center text-blue-400 animate-pulse text-xl font-light">
    <p>Talk Qatar. Live Qatar. ConnectQatar. </p>
  </div>
  <div class="mt-5 flex gap-5 justify-self-center">
    <button class="border p-3 rounded-full w-40 h-10 flex hover:bg-blue-900 hover:border-none justify-center items-center text-white hover:text-[#9BBEC8]"
      routerLink="/register">Register</button> <button
      class="border p-3 rounded-full w-40 h-10 flex hover:bg-blue-900 hover:border-none justify-center items-center text-white hover:text-[#9BBEC8]"
      routerLink="/login">LogIn</button>
  </div>
</div>