<div class="text-center flex justify-center m-auto text-2xl text-white font-bold mt-5 ">
    Feeds
</div>

<hr class="text-blue-500 ">

<div class="mt-5 flex justify-center items-center flex-row overflow-x-auto">
<div class="h-25 w-20 rounded-full ml-5">
    <img class="rounded-full"
        src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt="user profile">
    <div class=" mt-[-1.5rem] ml-[3rem] z-22">
        <button><i class="bi bi-plus-circle-fill text-white text-2xl "></i></button>
    </div>
</div>

<div class="h-auto w-20 rounded-full ml-5">
    <img class="rounded-full"
        src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt="user profile">
</div>

<div class="h-auto w-20 rounded-full ml-5">
    <img class="rounded-full"
        src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt="user profile">
</div>

<div class="h-auto w-20 rounded-full ml-5">
    <img class="rounded-full"
        src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt="user profile">
</div>

</div>

<hr class="text-blue-500">

<div class="shadow p-5">
<div class="h-auto flex w-20 rounded-full mt-5 ml-5">
    <img class="rounded-full"
        src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt="user profile">

        <h1 class="text-white text-xl m-2 font-thin">Lukhanyo</h1>
</div>

<div class="h-auto mt-5 m-5">
    <img 
        src="https://images.pexels.com/photos/10518488/pexels-photo-10518488.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load"
        alt="user profile">
</div>

<div class="flex gap-4 justify-center text-white">
<button class="border border-blue-500 rounded-full p-2 w-40 "><i class="bi bi-hand-thumbs-up text-white text-2xl "></i> Likes</button>
<button class="border border-blue-500 rounded-full p-2 w-40 "><i class="bi bi-chat-fill text-white text-2xl "></i> Comments</button>
</div>

</div>